/* Estilos para el título principal */
h1 {
  font-size: 36px;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para los títulos secundarios */
h2 {
  font-size: 24px;
  color: #34495e;
  font-style: italic;
  margin-top: 20px;
}
/* container de la imagen */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;}/* styles.css */

  /* Estilos para el contenedor del encabezado h1 */
  .header-container {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  /* Estilos para el encabezado h1 dentro del contenedor */
  .header-container h1 {
    margin: 0;
    color: #333;
  }
  
  /* Estilos para el contenedor del agradecimiento h2 */
  .thanks-container {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Estilos para el agradecimiento h2 dentro del contenedor */
  .thanks-container h2 {
    margin: 0;
    color: #007bff;
  }
  